/* Basic reset */
* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: #f4f4f4;
  margin: 0.8rem;
}
@media (max-width: 48rem) {
}
main > div {
  display: flex;
  gap: 20px;
  align-content: center;
  align-items: center;
}
div {
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: 10px;
    gap: 2px;
  }
  .button {
    /* Estilos para el bot칩n de descarga*/
    background-color: greenyellow;
    border: 3px solid black;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: center;
    cursor: pointer;
    pointer-events: auto;
    justify-content: center;

    &:hover {
      outline: solid #f4f4f4;
      font-size: 18px;
      &:active {
        background-color: rgb(143, 60, 62);

        &:focus {
          outline: none;
        }
      }
    }
  }
}

/* Estilos para las vi침etas y espaciado de la lista */
ul {
  list-style-type: disc; /* restaura las vi침etas */
  padding-left: 40px; /* espacio para las vi침etas */
  margin: 1em 0; /* espacio arriba y abajo de la lista */
}

li {
  margin: 0.5em 0; /* espacio entre elementos de la lista */
}
svg {
  width: 0.99rem;
}
input {
  width: 10rem;
  text-align: center;
}
legend {
  margin: 0.6rem;
}
